@tailwind base;
@tailwind components;
@tailwind utilities;

*{padding: 0; margin: 0; box-sizing: border-box;}
body { background: #000; color: #fff;}
.nav-adjust {  z-index: 2;}
.img-adjust-2 { z-index: 0;}

.page-wrapper { margin-left: 80px; margin-right: 80px; position: relative;}

@media screen and (max-width: 1024px) {
  .page-wrapper { margin-left: 20px; margin-right: 20px; }

}